:root {
  --neutral-clr-100: hsl(60, 35%, 90%);
  --neutral-clr-900: hsl(204, 19%, 5%);

  --fs-300: 0.75rem;
  --fs-400: 1.125rem;
  --fs-500: 1.5rem;
  --fs-600: 2.5rem;
  --fs-700: 3.75rem;

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 900;

  --pading-inline: 2rem;
  --pading-block: 2rem;

  --margin-top: 10rem;

  --section-spacer: 7.5rem;
}

@media (min-width: 50rem) {
  :root {
    --fs-400: 1.25rem;
    --fs-600: 5rem;
    --fs-700: 7.5rem;

    --pading-inline: 6rem;
  }
}

::-webkit-scrollbar {
  width: 0.75rem;
  background-color: var(--neutral-clr-900);
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--neutral-clr-100);
  border-radius: 100vw;
}

::selection {
  background-color: var(--neutral-clr-100);
  color: var(--neutral-clr-900);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.6;

  color: var(--neutral-clr-100);
  background-color: var(--neutral-clr-900);
  font-family: 'Nunito Sans', system-ui, -apple-system, sans-serif;
  font-size: var(--fs-400);

  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

a[active] {
  text-decoration: underline;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* BACKGROUNDS */

#home::before,
#work::before,
#designs::before,
#memoir::before,
#contact::before {
  content: '';
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;

  clip-path: polygon(50% 25%, 75% 50%, 50% 75%, 25% 50%);

  animation: reveal-background 2s 1s ease-in-out forwards;
}

@keyframes reveal-background {
  100% {
    clip-path: polygon(0% 100%, 0 0, 100% 0, 100% 100%);
    opacity: 20%;
  }
}

#home::before {
  background-image: url(../images/backgrounds/home.png);
}

#work::before {
  background-image: url(../images/backgrounds/work.png);
}

#designs::before {
  background-image: url(../images/backgrounds/designs.png);
}

#memoir::before {
  background-image: url(../images/backgrounds/memoir.png);
}

#contact::before {
  background-image: url(../images/backgrounds/contact.png);
}

/* END BACKGROUNDS */

/* GENERAL STYLINGS */

main {
  position: relative;
}

section {
  margin-block: var(--section-spacer);
}

section:last-of-type {
  margin-bottom: 0;
  padding-bottom: var(--section-spacer);
}

.container {
  padding-inline: var(--pading-inline);
  max-width: 1500px;
  margin-inline: auto;
}

.spacer-top {
  padding-top: var(--margin-top);
}

.btn {
  cursor: pointer;
  background-color: transparent;
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem 2rem;
  border: 2px solid var(--neutral-clr-100);
  border-radius: 100vw;
  color: var(--neutral-clr-100);
}

.btn:hover,
.btn:focus,
.btn:hover > svg path,
.btn:focus > svg path {
  background-color: var(--neutral-clr-100);
  color: var(--neutral-clr-900);
  fill: var(--neutral-clr-900);
}

.btn:hover > svg path,
.btn:focus > svg path {
  animation: slide-arrow 500ms ease-in-out;
}

.big-heading {
  font-size: clamp(2rem, 7vw + 1rem, 7.5rem);
  font-weight: var(--fw-black);
  line-height: 1;
}

.uppercase {
  text-transform: uppercase;
}

.margin-32 {
  margin-bottom: 2rem;
}

.max-ch-35 {
  max-width: 35ch;
}

.grid-area {
  display: grid;
  place-content: center;
  place-items: center;
  height: 100vh;
}

.decorative-line {
  width: 200px;
  height: 1px;
  background-color: var(--neutral-clr-100);
  margin: 2.5rem;
}

@media (min-width: 900px) {
  .grid-area {
    grid-auto-flow: column;
  }

  .decorative-line {
    height: 200px;
    width: 1px;
  }

  .big-heading {
    max-width: 6ch;
    overflow-wrap: break-word;
  }
}

.text-s {
  font-size: var(--fs-300);
}

/* END GENERAL STYLINGS */

/* FOOTER */

footer {
  position: absolute;
  bottom: var(--pading-block);
}

.social-links {
  display: flex;
  gap: 2rem;
}

.social-links:hover .social-links-item:not(:hover):not(:focus) {
  transform: scale(0.9);
}

@media (max-width: 700px) {
  .social-links {
    font-size: var(--fs-300);
  }
}

/* END FOOTER */

/* NAVIGATION */

.primary-nav > * {
  position: absolute;
  z-index: 999;
}

#toggle-nav {
  display: none;
}

.nav-list {
  top: var(--pading-block);
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-item {
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

.nav-list:hover .nav-item:not(:hover):not(:focus) {
  transform: scale(0.9);
}

.nav-item:hover,
.nav-item:focus {
  font-weight: var(--fw-bold);
}

@media (max-width: 900px) {
  #toggle-nav {
    display: block;
    top: var(--pading-block);
    right: var(--pading-inline);
    z-index: 9999;
  }

  .nav-list {
    position: absolute;
    padding-top: var(--margin-top);
    inset: 0;
    flex-direction: column;
    background-color: var(--neutral-clr-900);

    transition: transform 250ms ease-in-out;
  }

  .nav-list[active='false'] {
    transform: translate(0, -100%);
  }

  .nav-list[active='true'] {
    transform: translate(0, 0);
  }
}

/* END NAVIGATION */

/* HOME */

.side-carousel {
  position: absolute;
  height: 100vh;
  inset: 0 0 0 auto;
  border-inline: 2px solid var(--neutral-clr-100);
  padding-block: 0.125rem;

  overflow: hidden;
}

.side-carousel div {
  writing-mode: vertical-rl;
  display: flex;
  gap: 3rem;

  animation: marquee 20s linear infinite;
}

.side-carousel:hover div {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

@media (max-width: 1200px) {
  .side-carousel {
    display: none;
  }
}

/* END HOME */

/* MEMOIR */

.quote {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 450px;
  margin-inline: auto;
}

.flex-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

@media (min-width: 900px) {
  .flex-area {
    flex-direction: row;
  }
}

.flex-area .about-me-info {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  width: 800px;
  max-width: 100%;
}

.flex-area .about-me-info p:nth-child(2) {
  align-self: flex-end;
  text-align: right;
}

.flex-area .image-carousel {
  width: 350px;
  height: 520px;

  background-image: url('../images/Variant-1.png');
  background-repeat: no-repeat;
  background-position: center;

  animation: image-carousel 6s ease-in-out infinite;
}

@keyframes image-carousel {
  0% {
    background-image: url('../images/Variant-1.png');
  }
  30% {
    background-image: url('../images/Variant-1.png');
  }
  34% {
    background-image: url('../images/Variant-2.png');
  }
  62% {
    background-image: url('../images/Variant-2.png');
  }
  67% {
    background-image: url('../images/Variant-3.png');
  }
  96% {
    background-image: url('../images/Variant-3.png');
  }
}

.years-slider {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  border-block: 2px solid var(--neutral-clr-100);

  margin-bottom: 4rem;
}

.years-slider .years-slider-item {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  color: var(--neutral-clr-100);
}

#year-info {
  text-align: center;
  margin-inline: auto;
}

/* END MEMOIR */

/* CONTACT */

form {
  width: 100%;
}

.input-box {
  position: relative;
  margin-bottom: 2.5rem;
}

.input-box input,
.input-box textarea {
  width: 100%;
  resize: none;
  background-color: rgb(0 0 0 / 0.5);
  border: 2px solid var(--neutral-clr-100);
  border-radius: 10px;
  padding: 1rem;
  color: var(--neutral-clr-100);
}

@media (min-width: 900px) {
  .input-box input,
  .input-box textarea {
    width: 500px;
  }
}

.input-box label {
  position: absolute;
  left: calc(1rem + 2px);
  top: calc(1rem + 2px);

  transition: transform 250ms ease-in-out;
}

.input-box input:focus ~ label,
.input-box textarea:focus ~ label,
.input-box input:not(:placeholder-shown) ~ label,
.input-box textarea:not(:placeholder-shown) ~ label {
  transform: translate(-0.5rem, -3.25rem) scale(0.85);
}

.input-box ::placeholder {
  visibility: hidden;
}

/* END CONTACT */

/* WORK */

.live-project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1rem;
  border-block: 2px solid var(--neutral-clr-100);
}

.live-project a {
  font-size: clamp(1.5rem, 5vw + 0.1rem, 5rem);
  line-height: 1;
}

.live-project a:hover ~ svg > path {
  animation: slide-arrow 0.5s ease-in-out;
}

@keyframes slide-arrow {
  50% {
    transform: translateX(100%);
  }
  51% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media (max-width: 900px) {
  .live-project svg {
    display: none;
  }
}

.side-project {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: space-between;
}

.side-project .content h2 {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  margin-bottom: 2rem;
}

.side-project .content .btn {
  margin-top: 4rem;
}

.side-project img {
  width: 650px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
  box-shadow: 0.5rem 0.5rem 0.5rem rgb(0 0 0 / 0.25);
}

@media (min-width: 1100px) {
  .side-project {
    flex-direction: row;
  }
}

.project-heading {
  text-align: center;
  margin-inline: auto;
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  margin-bottom: 3rem;
}

.project-description {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  flex-wrap: wrap;
}

.project-description ul {
  list-style: disc;
  list-style-position: inside;
  margin-top: 0.75rem;
}

.project-carousel {
  margin-top: var(--section-spacer);
  padding-bottom: var(--section-spacer);

  display: flex;
  gap: 2rem;
  overflow-x: scroll;

  cursor: grab;
}

.project-carousel.grabbed {
  cursor: grabbing;
}

.project-carousel img {
  aspect-ratio: 16 / 9;
  width: 1000px;
  margin-inline: auto;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
  box-shadow: 0.5rem 0.5rem 0.5rem rgb(0 0 0 / 0.25);
}

/* END WORK */

.anim-el {
  opacity: 0;
}
